<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/main.css') }}" />

    </head>
    <body>
    <div class="jumbotron text-center">
        <h1>Task Planner v 1.0.</h1>
        <p>zaplanuj... zrób... zapomnij...</p>
    </div>

            <div class="col-md-2">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            <ul class="nav nav-tabs  nav-stacked">
                                <li role="presentation"><a href="{{ path('category_index') }}">Category</a></li>
                                <li role="presentation"><a href="{{ path('task_index') }}">Task</a></li>
                                <li role="presentation"><a href="{{ path('comment_index') }}">Comment</a></li>
                                <li role="presentation"><a href="{{ path('fos_user_profile_show') }}">User</a></li>
                            </ul>

                            <span>(logged in as {{ app.user.username }} )</span>

                        {% else %}
                            <a href="/login">zaloguj się!</a>
                        {% endif %}

            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                    {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
             <div class="panel-footer  text-center"><span class="small">pogróżki / pochwały... pisz...</span> <a href="mailto:mmatyska75@gmail.com"><span class="glyphicon glyphicon-envelope"></span></a></div>
        {% block javascripts %}{% endblock %}



    </body>
</html>
