{#
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks list </h1>
    ( logged as {{ user.username }} with {{ tasks|length }} tasks)






    {% for t in tasks %}        {#counter zrobić w kontrolerze a nie tu...
        {% if t.done %}
            <br>{{ t.name }}
        {% endif %}
    {% endfor %}








    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Done</th>
            <th>Duedate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td><a href="{{ path('task_show', {'id': task.id}) }}">{{ task.category }}</a></td>
                <td>{% if task.done %}Yes{% else %}No{% endif %}</td>
                <td>{% if task.dueDate %}{{ task.dueDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}">show Task</a>
                        </li>
                        <li>
                            {% if task.done %}
                                <a>edit Task</a>
                            {% else %}
                                <a href="{{ path('task_edit', { 'id': task.id }) }}">edit Task</a>
                            {% endif %}

                        </li>
                    </ul>
                </td>
            </tr>


        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_new') }}">Create a new task</a>
        </li>

    </ul>
{% endblock %}

#}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks list</h1>
    ( logged as {{ user.username }} with {{ tasksUnfinished }} active tasks from {{ tasks|length }} tasks)
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Done</th>
            <th>Duedate</th>
            <th>Number of Commnets</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.category }}</td>
                <td>{% if task.done %}Yes{% else %}No{% endif %}</td>
                <td>{% if task.dueDate %}{{ task.dueDate|date('Y-m-d') }}{% endif %}</td>
                <td><a href="{{ path('task_show', {'id': task.id}) }}">{{ task.comment.count }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comment_new', { 'task_id': task.id }) }}">add Comment</a>
                        </li>


                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}">show Task</a>
                        </li>
                        <li>
                            {% if task.done %}
                                <a>edit Task</a>
                            {% else %}
                                <a href="{{ path('task_edit', { 'id': task.id }) }}">edit Task</a>
                            {% endif %}

                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_new') }}">Create a new task</a>
        </li>

    </ul>
{% endblock %}