{% extends 'base.html.twig' %}

{% block body %}

    <h1>Tasks list</h1>
    <span>( logged in as {{ user.username }} with {{ tasksUnfinished }} active tasks from {{ tasks|length }}
        tasks)</span>

    <table class="table">
        <thead>
        <tr>
            <th>Task name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Done</th>
            <th>Duedate</th>
            <th>Number of Commnets</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.category }}</td>
                <td>{% if task.done %}Yes{% else %}No{% endif %}</td>
                <td>{% if task.dueDate %}{{ task.dueDate|date('Y-m-d') }}{% endif %}</td>
                <td><a class="badge badge-default badge-pill"
                       href="{{ path('task_show', {'id': task.id}) }}">{{ task.comment.count }}</a></td>
                <td>
                    <a href="{{ path('comment_new', { 'task_id': task.id }) }}">add Comment</a> /
                    <a href="{{ path('task_show', { 'id': task.id }) }}">show Task</a> /
                    {% if task.done %}
                        edit Task
                    {% else %}
                        <a href="{{ path('task_edit', { 'id': task.id }) }}">edit Task</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_new') }}">Create a new task</a>
        </li>

    </ul>


{% endblock %}