{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-7">
        <h1>Comments list</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Comment</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td><a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.id }}</a></td>
                    <td>{{ comment.comment }}</td>
                    <td class="col-md-2">
                        <a href="{{ path('comment_show', { 'id': comment.id }) }}">show</a> /
                        <a href="{{ path('comment_edit', { 'id': comment.id }) }}">edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('comment_new') }}">Create a new comment</a>
            </li>
        </ul>
    </div>
{% endblock %}
